@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: local('Bangers Regular'), local('Bangers-Regular'),
    url('./fonts/bangers-regular.woff2') format('woff2'),
    url('./fonts/bangers-regular.woff') format('woff');
}

.test-fonts {
    font-family: Bangers;
}

body {
    background-color: ghostwhite;
}